body { 
	background: #5a4c5e;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0;
	padding: 100px 0 0 100px;
}

h1 {
	font-family: museo-sans-rounded;
	font-weight: 300;
	font-size: 36px;
}

h1 a { 
	color: #FFFFFF;
	font-weight: 600;
	text-decoration: none;
}

h1 a:hover {
	color: #de3a55;
}

ul.entries {
	font-family: museo-sans-rounded;
	list-style: none;
	margin: 60px 0 0 0;
	padding: 0;
}

ul.entries span {
	text-transform: uppercase;
}

ul.entries a {
	background: #de3a55;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 24px;
	margin: 5px 0 0 15px;
	padding: 15px 18px;
	text-decoration: none;
}

ul.entries a:hover {
	opacity: 0.8;
}