<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- SEO stuff -->
  {% if page.description %}
      <meta name="description" content="{{ page.description }}">
  {% else %}
      <meta name="description" content="{{ page.content | strip_html | truncatewords: 25 }}">
  {% endif %}
  
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://dtsn.dev{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:site" content="dtsn">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 25 }} ">
  {% if page.twitterimage %}
  <meta name="twitter:image" content="{{page.twitterimage}}">
  {% endif %}

  {% if page.keywords %}
      <meta name="keywords" content="{{ page.keywords }}">
  {% else if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ',' }}">
  {% else %}
      <meta name="keywords" content="Daniel Saxil-Nielsen, dtsn, DataSift, Data Artist, Front End Developer, JavaScript, JS"> 
  {% endif %}

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="DTSN" href="{{ site.baseurl }}rss.xml">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">
  <link rel="canonical" href="{{ page.url }}">
</head>
<body>

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/main.js"></script>
  <script src="{{ site.baseurl }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>



